<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8">
<title>Book Exchange Portal</title>
<meta name="viewport" content="width=device-width", initial-scale="1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="javascript.js"></script>
<script src="css3-animate-it.js"></script> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheet.css">
<link rel="stylesheet" href="animations.css">
<!--<link rel="stylesheet" href="css/stylesheet.css">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>


<body>

   

	<div id="landing">
        <div class="col-md-6 heading">
            <h1 id="landing-heading" >TITLE</h1>
		    <h4 id="landing-subhead">Description</h4>
        </div>
        <div class="col-md-6 register">
            <!------ Registration page goes here ---->
<!--
             <div class="flex-center position-ref full-height">
            @if (Route::has('login'))
                <div class="top-right links">
                    @if (Auth::check())
                        <a href="{{ url('/home') }}">Home</a>
                    @else
                        <a href="{{ url('/login') }}">Login</a>
                        <a href="{{ url('/register') }}">Register</a>
                    @endif
                </div>
            @endif
    </div>
-->
        </div>
    </div>

	<div class="image">
        <div class="one col-sm-4">
            <div id="circular_sell">
                <div class="icon">
                    <i class="fa fa-money" aria-hidden="true"></i>
                </div>
            </div>
            <p id="circular-text-sell">Sell</p>
        </div>
        <div class="one col-sm-4">
            <div id="circular_call">
                <div class="icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
            </div>
            <p id="circular-text-call">Call</p>
        </div>
        <div class="one col-sm-4">
            <div id="circular_buy">
                <div class="icon">
                    <i class="fa fa-book" aria-hidden="true"></i>
                </div>
            </div>
            <p id="circular-text-buy">Buy</p>
        </div>

    </div>

   <div id="sell"  class="animatedParent" data-sequence="1000'">
        <!--Describe the application-->
          <h1 class='animated rotateInDownLeft' data-id="1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h1>
    </div>
    
    <div id="call" class="animatedParent" data-sequence="1000'">
        <!--Describe the application-->

        <h1 class='animated rotateInDownRight' data-id="1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h1>


    </div>
    
    <div id="buy" class="animatedParent" data-sequence="1000'">
        <!--Describe the application-->
        <h1 class='animated bounceIn' data-id="1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h1>

    </div>
    

    <div class="footer">
        <p id="para">Website designed and developed by:</p>
        <a href=""><p class="names">Abha Mutalik</p></a>
        <a href=""><p class="names">Ananya Navelkar</p></a>
    </div>

</body>
</html>
